.logo {
  width: 4.28rem;
  height: 4.28rem;
  @media (max-width: 768px) {
    width: 3.28rem;
    height: 3.28rem;
  }
  @media (max-width: 415px) {
    width: 2.28rem;
    height: 2.28rem;
  }
  &__img {
    max-width: 100%;
  }
}
