//background-color
$gray-background: #282828;
$opacity-background: rgba(230, 230, 230, 0.5);

//color
$white-font: rgb(230, 109, 109);
$dark-font: #282828;
$gray-font: #a9b0b8;
$blue-font: #77dde7;
$blue-border-bottom: #77dde7;
$green-font: #7cfc00;
$red-font: #dc143c;
$unknown-font: #a9a9a9;

//animation
$duration: 0.2s;
