@import "./../../../styles/constants.scss";

.characters {
  position: relative;
  margin: 100px 0 10px 0;
  &__title {
    color: $dark-font;
    font-size: 3.14rem;
    font-weight: 900;
    margin: 0 0 70px 0;
    text-align: center;
  }

}
