@import "./../../../../styles/constants.scss";

.item {
  color: $gray-font;
  font-size: 1.28rem;
  line-height: 1.57rem;
  margin: 0 0 8px 0;
  &__highlight {
    font-weight: 600;
    color: $dark-font;
  }
  &:last-child {
    margin: 0;
  }
}
