@import "./../../../../../styles/constants.scss";

// @mixin item() {
//   color: $dark-font;
//   font-size: 1.28rem;
//   font-weight: 800;
// }

.list {
  display: flex;
  &__item {
    margin: 0 30px 0 0;
    &:last-child {
      margin: 0;
    }
    @media (max-width: 1200px) {
      margin: 0 20px 0 0;
    }
    @media (max-width: 992px) {
      margin: 0 15px 0 0;
    }
    @media (max-width: 768px) {
      margin: 0 10px 0 0;
    }
    @media (max-width: 415px) {
      margin: 0 5px 0 0;
    }
  }
  &__link {
    color: $dark-font;
    font-size: 1.28rem;
    font-weight: 800;
    transition: $duration;
    @media (max-width: 1200px) {
      font-size: 1.18rem;
    }
    @media (max-width: 992px) {
      font-size: 1.08rem;
    }
    @media (max-width: 768px) {
      font-size: 1rem;
    }
    @media (max-width: 415px) {
      font-size: 0.92rem;
    }
    &:hover {
      color: $white-font;
    }
  }
}
