@import "./../../../../../styles/constants.scss";

@mixin item() {
  color: $dark-font;
  font-size: 1.28rem;
  font-weight: 800;
}

.list {
  display: flex;
  &__item {
    margin: 0 30px 0 0;
    &:last-child {
      margin: 0;
    }
  }
  &__link {
    @include item();
    transition: $duration;
    &:hover {
      color: $white-font;
    }
  }
}
