$footer-background-color: #282828;
$footer-border: #77dde7;

.footer {
  background-color: $footer-background-color;
  padding: 50px 0;
  color: #fff;
  text-align: center;
  font-weight: 500;
}

.footer__link {
  color: #fff;
  border-bottom: 1px solid $footer-border;
}
