.filter {
  &__item {
    margin: 0 0 20px 0;
  }
  &__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      width: 10px;
      height: 1px;
      background-color: #000;
      position: absolute;
      top: 5px;
    }
    &::before {
      transform: rotate(40deg);
      left: 0;
    }
    &::after {
      transform: rotate(-40deg);
      left: 8px;
    }
  }
  &__text {
    display: none;
    padding: 10px 0 0 0;
  }
}
